---
import Title from "../Title.astro";
import SubTitleText from "../../components/SubTitleText.astro";
import Image from "astro/components/Image.astro";
import imagePerfil from "../../assets/image/imagePerfil.jpeg";
import CarouselInterests from "../Preact/CarouselInterests.jsx";
---

<section
  class="w-10/12 mx-auto flex flex-col gap-y-32 pt-24 h-fit"
  id="aboutme"
>
  <!--   <article class="w-fit max-w-[600px] mx-auto flex flex-col gap-y-3">
    <Title nameTitle="Acerca de mi" />
    <SubTitleText
      textP=`Mi nombre es Mauricio, un apasionado del diseño y desarrollo digital con experiencia en desarrollo web, diseño UX/UI y diseño gráfico.`
    />
  </article> -->
  <article
    class="w-full flex flex-col lg:flex-row items-center lg:items-start justify-between relative gap-x-14 gap-y-20"
  >
    <div
      class="bg-[#5CB672]/30 rounded-full w-[278px] h-[278px] absolute -left-20 -top-10 blur-[140px] lg:top-24 lg:left-36"
    >
    </div>

    <div class="w-full grid grid-cols-1 md:grid-cols-2 gap-6 relative">
      <div class="pr-20">
        <h2
          class="text-3xl tracking-widest font-bold capitalize bg-gradient-to-l from-green-200 via-green-300 to-green-400 inline-block text-transparent bg-clip-text text-center lg:text-left"
        >
          Intereses
        </h2>
        <p class="text-sm text-white font-normal text-center lg:text-left">
          Más allá del trabajo, mis intereses abarcan una amplia gama de
          pasiones, desde la música que me inspira constantemente hasta mi
          dedicación al fitness en el gimnasio. Sumergirme en libros fascinantes
          es una parte esencial de mi vida, explorando diversos géneros
          literarios para enriquecer mi mente. Además, los videojuegos me
          proporcionan una experiencia única de entretenimiento y creatividad,
          permitiéndome sumergirme en mundos imaginarios y desafiantes.
        </p>
      </div>
      <CarouselInterests client:visible />
    </div>

    <div
      class="bg-[#5CB672]/30 rounded-full w-[278px] h-[278px] absolute -right-28 top-80 blur-[140px] -z-10"
    >
    </div>
  </article>
</section>
