---
import Title from "../Title.astro";
import SubTitleText from "../../components/SubTitleText.astro";
/* import NavegateFilter from "../NavegateFilter.astro"; */
/* import CardProyects from "../CardProyects.astro"; */
import NavegateFilter from "../Preact/NavegateFilter.jsx";
---

<section
  class="w-11/12 mx-auto flex flex-col gap-y-12 pt-24 relative"
  id="proyects"
>
  <article class="w-fit max-w-[600px] mx-auto flex flex-col gap-y-3">
    <Title nameTitle="Proyectos" />
    <SubTitleText
      textP=`Descubre mis últimos proyectos: desde sitios web dinámicos hasta aplicaciones interactivas. Explora cómo mis diseños UX/UI han elevado la experiencia del usuario. ¡Ven y conoce cómo la creatividad puede impulsar tu proyecto!`
    />
  </article>
  <NavegateFilter client:load />
  <div
    class="bg-[#5CB672]/30 rounded-full w-[278px] h-[278px] absolute left-1/2 top-[345px] blur-[140px] -z-10"
  >
  </div>
  <div
    class="bg-[#5CB672]/30 rounded-full w-[278px] h-[278px] absolute -left-10 top-[550px] blur-[140px] -z-10"
  >
  </div>
</section>
