---
import Title from "../Title.astro";
import SubTitleText from "../../components/SubTitleText.astro";
import ServiceOptions from "../Preact/ServiceOptions";
---

<section class="flex flex-col gap-y-12 pt-12" id="services">
  <article class="w-fit max-w-[600px] mx-auto flex flex-col gap-y-3">
    <Title nameTitle="Servicios" />
    <SubTitleText
      textP=`
      Transformo ideas en realidad digital con diseño web cautivador, desarrollo web funcional y diseño gráfico impactante. Cada proyecto es una oportunidad para crear una presencia en línea única y memorable`
    />
  </article>
  <p id="#textPp"></p>
  <ServiceOptions client:load />
</section>

