---
import Title from "../Title.astro";
import SubTitleText from "../../components/SubTitleText.astro";
import ServiceOptions from "../Preact/ServiceOptions";
---

<section class="flex flex-col gap-y-12 pt-12" id="services">
  <article class="w-fit max-w-[600px] mx-auto flex flex-col gap-y-3">
    <Title nameTitle="Servicios" />
    <SubTitleText
      textP=`
      Hago realidad tus ideas con diseños web llamativos, desarrollo ágil y gráficos impresionantes. Cada proyecto es una nueva oportunidad para destacar online.`
    />
  </article>
  <p id="#textPp"></p>
  <ServiceOptions client:load />
</section>
